.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #ffffff 0%, #ededed 100%);
}

.register-card {
  background: #FFFFFF;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.register-card h3 {
  background-color: #4D007D;
  text-align: center;
  margin-bottom: 12px;
  color: #ffffff;
  padding: 16px;
}

.register-card form {
  padding: 16px 32px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 0px;
  font-size: 14px;
  color: #6B7280;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #E5E7EB;
  border-radius: 4px;
  font-size: 14px;
}

.register-button-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  gap: 16px;
}

.login-link {
  font-size: 14px;
  color: #999;
  text-decoration: none;
  margin-top: 16px;
  display: block;
  /* text-align: center; */
}

.login-link span {
  color: #6d08ac;
}

@media (max-width: 768px) {
  .register-card {
    padding: 24px;
    max-width: 90%;
  }
}